/*General Stylings*/
body {
  position: relative;
  top: 0;
  margin: 0;
  color: #777777;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  background-color: #777777;
}

/*Header and Nav-Bar*/
header {
  background-color: #ffffff;
  height: 5.2em;
  margin: 0px;
  border-bottom-style: solid;
  border-color: #cccccc;
  border-bottom-width: 2px;
}

.bigName {
  background-color: #4aaaa5;
  color: #ffffff;
  float: left;
  height: 2em;
  margin: 0 0 0 6em;
  padding: 0.6em 0.8em 0.1em 0.8em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav {
  margin: 1.5em 1em 1em 1em;
  float: left;
  font-size: 1.15em;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.nav-spacer {
  margin: 0 0 0 50em;
  float: left;
}

/* About Me Section */
.body {
  background-color: #ffffff;
  margin: 2em 24em 2em 12em;
}

h1.aboutMe {
  margin-top: 2em;
}

.bigNameInvert {
  color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 1em 1em 1em 0.9em;
  padding-top: 1em;
  font-size: 2em;
}

hr {
  width: 95%;
  color: #cccccc;
  border-style: solid;
}

img {
  float: left;
  margin: 1em 2em 2em 2em;
  width: 20%;
}

article {
  margin-left: 2em;
  margin-right: 2em;
  font-size: 1.1em;
}

/* Footer Section */
